@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTES */
    --fonte-poppins: "Poppins", sans-serif;
    --fonte-nunito: "Nunito", sans-serif;

    /* CORES */
    --cor-de-fundo: #33714E;
    --cor-verde: #1F9C62;
    --cor-verde-escuro: #173B37;
    --cor-salmao: #F0885A;
    --cor-branco-amarelado: #FAF8F2;
    --cor-branco: #FFFFFF;
    --cor-cinza: #1D1D1D;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-branco);
}

/* CABEÇALHO */
.navbar {
    background-color: var(--cor-branco-amarelado);
}

.logo-mobile {
    width: 3.2em;
}

.logo-desktop {
    width: 9em;
    margin-right: 1em;
}

.navbar-collapse{
    background-color: var(--cor-branco-amarelado);
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.menu-mobile {
    font-size: 3.2em;
    color: var(--cor-cinza);
}

.input-pesquisa {
    width: 100%;
    padding: .7em;
    border-radius: 20px;
    border: 2px solid transparent;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(20deg,
            #000000 0%,
            #00000030 25%,
            #000000 50%,
            #00000030 100%) border-box;
}


#form-pesquisa {
    position: relative;
    margin: 10px 0;
}

#btn-pesquisa {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
}

.icone-lupa {
    font-size: 1.8em;
}

hr {
    border: 2px solid var(--cor-verde);
    border-radius: 5px;
    opacity: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: .8em;
}

.icone-nav {
    font-size: 2.5em;
    color: var(--cor-cinza);
}

.btn-entrar {
    background-color: var(--cor-verde-escuro);
    padding: .5em 3em;
    font-size: 16px;
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-family: var(--fonte-nunito);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .navbar{
        padding: .7em 5em;
    }

    #form-pesquisa {
        max-width: 45em;
        width: 100%;
        margin: 0 2em;
    }

    .navbar-nav {
        margin: 0 2em;
    }
}