@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTES */
    --fonte-poppins: "Poppins", sans-serif;
    --fonte-nunito: "Nunito", sans-serif;

    /* CORES */
    --cor-de-fundo: #33714E;
    --cor-verde: #1F9C62;
    --cor-verde-escuro: #173B37;
    --cor-salmao: #F0885A;
    --cor-branco-amarelado: #FAF8F2;
    --cor-branco: #FFFFFF;
    --cor-cinza: #1D1D1D;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-branco);
}

/* COMPONENTES */

.botao, .botao-secundario{
    background-color: var(--cor-verde-escuro);
    padding: .5em 3em;
    font-size: 16px;
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-family: var(--fonte-nunito);
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.botao:hover {
    background-color: #22514B;
}

.botao-secundario{
    background-color: var(--cor-salmao);
}

.botao-secundario:hover{
    background-color: #CF6536;
}

/* CARD DE PRODUTO */
.card-produto {
    width: 270px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    font-family: var(--fonte-nunito);
    border: 2px solid var(--cor-verde-escuro);
    padding: 1em;
    position: relative;
    box-shadow: 0 0 10px #00000025;
    margin: 0 auto;
}

.produto-avaliacao {
    position: absolute;
    background-color: var(--cor-verde-escuro);
    padding: .2em .8em;
    border-radius: 50px;
    top: 10px;
    left: 10px;
}

.ti-heart-icon {
    position: absolute;
    background-color: var(--cor-verde-escuro);
    right: 0;
    top: 0;
    padding: .3em;
    font-size: 35px;
    border-radius: 0 10px 0 30px;
}

.produto-img {
    width: 100%;
    border-radius: 2em;
    border: 2px solid transparent;
    background:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) padding-box,
        linear-gradient(90deg,
            var(--cor-verde) 0%,
            var(--cor-verde-escuro) 25%,
            var(--cor-verde) 50%,
            var(--cor-verde-escuro) 100%) border-box;
}

.produto-nome {
    font-size: 16px;
    font-weight: bold;
}

.produto-lojista {
    font-size: clamp(10px, 1.1vw, 14px);
    text-shadow: 0px 0px .5px #000000;
    color: #A3FFD4;
}

.produto-categoria {
    color: var(--cor-branco);
}

.ti-shopping-bag-plus {
    align-self: end;
    background-color: var(--cor-verde-escuro);
    padding: .5em;
    font-size: 35px;
    margin-top: .5em;
    border-radius: 20px;
}

.produto-preco{
    cursor: pointer;
    transition: .3s ease;
}

.ti-shopping-bag-plus:hover {
    background-color: #22514B;
}

.produto-preco {
    font-size: clamp(16px, 5.5vw, 20px);
    margin-bottom: 0;
    margin-top: .3em;
    font-weight: bold;
}

/* TOAST */
.toast-body {
    color: var(--cor-cinza);
}

/* INPUT */
.input-border {
    position: relative;
    border-radius: 20px;
    padding: 2px;
}

.input-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(45deg,
            var(--cor-verde) 0%,
            var(--cor-verde-escuro) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.input-primario {
    width: 100%;
    display: block;
    padding: .7em 1em;
    border: none;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: .3s ease;
}

.campo-input label {
    margin-left: 1em;
    font-weight: bold;
}

figcaption {
    display: none;
}

a {
    text-decoration: none;
    list-style-type: none;
}

/* COMPONENTES */

.botao,
.botao-secundario {
    outline: none;
    border: none;
    background-color: var(--cor-verde-escuro);
    padding: .5em 3em;
    font-size: 16px;
    color: var(--cor-branco);
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-family: var(--fonte-nunito);
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.botao:hover {
    background-color: #22514B;
    box-shadow: inset 0px 0px 4px 0 rgba(255, 255, 255, 0.2);
}

.botao-secundario {
    background-color: var(--cor-salmao);
}

.botao-secundario:hover {
    background-color: #CF6536;
}

@media (max-width: 980px) {
    .botao {
        font-size: 16px;
        padding: .5em 3em;
    }
}

/* CARD DE PRODUTO */
.card-produto {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    font-family: var(--fonte-nunito);
    border: 2px solid var(--cor-verde-escuro);
    padding: 1em;
    position: relative;
    box-shadow: 0 0 10px #00000025;
    margin: 0 auto;
}

.produto-avaliacao {
    position: absolute;
    background-color: var(--cor-verde-escuro);
    padding: .2em .8em;
    border-radius: 50px;
    top: 10px;
    left: 10px;
    color: #FFFFFF;
}

.ti-heart-icon {
    position: absolute;
    background-color: var(--cor-verde-escuro);
    right: 0;
    top: 0;
    padding: .3em;
    font-size: 35px;
    border-radius: 0 10px 0 30px;
    color: #FFFFFF;
}

.produto-img {
    width: 100%;
    border-radius: 2em;
    border: 2px solid transparent;
    background:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) padding-box,
        linear-gradient(90deg,
            var(--cor-verde) 0%,
            var(--cor-verde-escuro) 25%,
            var(--cor-verde) 50%,
            var(--cor-verde-escuro) 100%) border-box;
}

.produto-nome {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.produto-lojista {
    font-size: clamp(10px, 1.1vw, 14px);
    text-shadow: 0px 0px .5px #000000;
    color: #A3FFD4;
}

.produto-categoria {
    color: var(--cor-branco);
}

.ti-shopping-bag-plus {
    align-self: end;
    background-color: var(--cor-verde-escuro);
    padding: .5em;
    font-size: 35px;
    margin-top: .5em;
    border-radius: 20px;
    color: #FFFFFF;
    transition: .3s ease;
    cursor: pointer;
}

.produto-preco {
    cursor: pointer;
    transition: .3s ease;
    color: #FFFFFF;
}

.ti-shopping-bag-plus:hover {
    background-color: #22514B;
}

.produto-preco {
    font-size: clamp(16px, 5.5vw, 20px);
    margin-bottom: 0;
    margin-top: .3em;
    font-weight: bold;
}

/* TOAST */
.toast-body {
    color: var(--cor-cinza);
}

/* INPUT */
.input-border {
    position: relative;
    border-radius: 20px;
    padding: 2px;
}

.input-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(45deg,
            var(--cor-verde) 0%,
            var(--cor-verde-escuro) 100%);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
}

.input-primario {
    width: 100%;
    display: block;
    padding: .7em 1em;
    border: none;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: .3s ease;
}

.campo-input label {
    margin-left: 1em;
    font-weight: bold;
}

/* CABEÇALHO */
.navbar {
    background-color: var(--cor-branco-amarelado);
}

.logo-mobile {
    width: 3.2em;
}

.logo-desktop {
    width: 9em;
    margin-right: 1em;
}

.navbar-collapse {
    background-color: var(--cor-branco-amarelado);
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus,
.input-pesquisa:focus {
    outline: none;
    box-shadow: none;
}

.menu-mobile {
    font-size: 3.2em;
    color: var(--cor-cinza);
}

.input-pesquisa {
    width: 100%;
    padding: .7em;
    border-radius: 20px;
    border: 2px solid transparent;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(20deg,
            #000000 0%,
            #00000030 25%,
            #000000 50%,
            #00000030 100%) border-box;
}

.input-pesquisa::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#form-pesquisa {
    position: relative;
    margin: 10px 0;
}


#btn-pesquisa {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
}

.icone-lupa {
    font-size: 1.8em;
}

hr {
    border: 2px solid var(--cor-verde);
    border-radius: 5px;
    opacity: 1;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: .8em;
}

.icone-nav {
    font-size: 2.5em;
    color: var(--cor-cinza);
}

/* RODAPE */
.rodape {
    background-color: var(--cor-branco-amarelado);
    color: var(--cor-cinza);
    font-family: var(--fonte-nunito);
}

.logo-rodape,
.texto-rodape {
    width: 13em;
    margin: 0 auto;
    text-align: center;
}

.titulo-rodape {
    font-weight: 600;
    font-family: var(--fonte-poppins);
    font-size: clamp(20px, 5.5vw, 32px);
}

.rodape-link {
    text-decoration: none;
    color: var(--cor-cinza);
    transition: .5s;
}

.rodape-link:hover {
    color: var(--cor-verde);
}

.rodape-icones {
    font-size: clamp(35px, 5.5vw, 40px);
}

.linha-rodape {
    position: relative;
    border-left: none;
}

.linha-rodape::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-left: 3px solid var(--cor-verde);
}

.rodape-endereco {
    width: clamp(9em, 40vw, 16em);
}

.copyrigth {
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    text-align: center;
    padding: 0.8em 1em;
}


@media (min-width: 992px) {

    .navbar,
    .conteudo-rodape {
        padding: .7em 5em;
    }

    #form-pesquisa {
        max-width: 45em;
        width: 100%;
        margin: 0 2em;
    }

    .navbar-nav {
        margin: 0 2em;
    }

    .logo-rodape,
    .texto-rodape {
        text-align: start;
        margin: 0;
    }

    .linha-rodape::before {
        border: none;
    }
}